*.pyc
templates/about.mako
static/Red_star.svg
static/favicon.ico
static/footerbg.png
static/headerbg.png
static/red_star.svg
static/transparent.gif
static/ie6.css
static/pyramid.png
static/footerbg.png
static/old_boostrap.css
static/oldoldbootstrap.css
static/bootstrap/bootstrap-3.0.3-dist.zip
static/favicon.ico
static/glyphicons-halflings-regular.eot
static/glyphicons-halflings-regular.svg
static/pyramid-small.png
static/Red_star.svg
static/glyphicons-halflings-regular.woff
static/middlebg.png
static/glyphicons-halflings-regular.ttf
static/bootstrap*
static/bootstrap/*
