{% extends "admin/admin_base.jinja2" %}
{% block title %} Add / Edit Recording {% endblock %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-12 ">
          <legend>
            <a href="{{ request.route_url('render_recording', recording_id=recording['recording_url_id'])}}">Recording Information</a>
          </legend>
        </div>

        <div class="col-md-6 ">
            <form id='recording_form' role="form" action="#">
            Recording ID:
            {% if action == 'update' %}
            <label id="ID">{{ recording['_id'] }}</label>
            {% else %}
            <label id="ID">NA</label>
            {% endif %}

            <div class="form-group">
              <label for='recording_url_id'>Recording URL ID</label>
              <div class="input-group-sm">
                <input class="form-control" type="text" id="recording_url_id" placeholder="URL" value="{{ recording.get('recording_url_id', '') }}">
              </div>
            </div>

            <div class="form-group">
              <label for='desc'>Description</label>
              <div class="input-group-sm">
                <input class="form-control" type="text" id="desc" placeholder="Description" value="{{ recording.get('desc', '') }}">
              </div>
            </div>

            <div class="form-group">
              <label for='taper'>Taper</label>
              <div class="input-group-sm">
                <input class="form-control" class="form-control" type="text" id="taper" placeholder="Taper" value="{{ recording.get('taper', '')}}">
              </div>
            </div>

            <div class="form-group">
              <label for='source'>Source</label>
              <div class="input-group-sm">
                <input class="form-control" type="text" id="source" placeholder="Source" value="{{ recording.get('source', '') }}">
              </div>
            </div>

            <label for='notes'>Notes</label>
            <textarea class="form-control" rows="5" id="notes" placeholder="Notes">{{ recording.get('notes',' ''}}</textarea>

            <label for='rtype'>Recording Type</label>
            <select id="rtype" class="form-control">
              <option value="Audience">Audience</option>
              <option value="Professional">Professional</option>
            </select>

              <label for='primary'>Primary</label>
                <select id="primary" class="form-control">
                  <option value="AVI">AVI</option>
                  <option value="MP4">MP4</option>
                  <option value="DVD">DVD</option>
                  <option value="MOD">MOD</option>
                  <option value="HD">HD</option>
                  <option value="FLV">FLV</option>
                  <option value="VIDEO-OTHER">VIDEO-OTHER</option>
                  <option value="MP3">MP3</option>
                  <option value="FLAC">FLAC</option>
                  <option value="OGG">OGG</option>
                  <option value="SHN">SHN</option>
                  <option value="WMA">WMA</option>
                  <option value="WMV">WMV</option>
                  <option value="AUDIO-OTHER">AUDIO-OTHER</option>
                </select>

            <div class="checkbox">
            <label for='status'>Deleted?</label>
              {% if recording['deleted'] == 'True' %}
                <input type="checkbox" id="status" checked=True}>
              {% else %}
                <input type="checkbox" id="status">
              {% endif %}
            </div>

            <div class="checkbox">
            <label for='visible'>Visible?</label>
              {% if recording['visible'] == 'True' %}
                <input type="checkbox" id="visible" checked=True}>
              {% else %}
                <input type="checkbox" id="visible">
              {% endif %}
            </div>

          </div>

          <div class="col-md-6">
            
            <label for='concerts'>Concert Options</label>
            <select class="form-control" id='concerts' multiple='multiple' name='concerts[]'>
              {% for artist, concerts in c_list.iteritems() %}
                {% for concert in concerts %}
                  <option value="{{ concert['_id'] }}">{{concert['date']}} - {{ concert['artist'] }}</option>    
                {% endfor %}
              {% endfor %}
            </select>

            <label for='concert_table'>Associated Concerts</label>
            <table id="concert_table" class="table">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>ID</th>
                </tr>
              </thead>
              <tbody id="concert_table_values">
              </tbody>
            </table>
            
          </div> <!-- Second Column Set -->

          <div class="col-md-12">
            <label for='file_table'>Associated Files</label>
            <table id="file" class="table">
              <thead>
                <tr>
                  <th>Filename</th>
                  <th>Size</th>
                  <th>Visible?</th>
                  <th>Deleted?</th>
                </tr>
              </thead>
              <tbody id="file_table_values">
                {% for file in recording['files'] %}
                <tr>
                  <td><a href="{{ request.route_url('send_file', file_id=file['_id']) }}">{{file['filename']}}</a></td>
                  <td>{{ file['size'] }}</td>
                  <td>
                  {% if file['visible'] == 'True' %}
                  <input type="checkbox" name="vfile{{file['filename']}}" value="{{file['_id'] }}" checked='True'>
                  {% else %}
                  <input type="checkbox" name="vfile${file['filename']}" value="${file['_id']}">
                  {% endif %}
                  </td>
                  <td>
                  {% if file['deleted'] == 'True' %}
                  <input type="checkbox" name="dfile{{file['filename']}}" value="{{file['_id']}}" checked='True'>
                  {% else %}
                  <input type="checkbox" name="dfile${file['filename']}" value="${file['_id']}">
                  {% endif %}
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div> 


          <div id="submit_div" class="col-md-12">
            <input type="submit" value="Submit" id="add_button" class="btn">
            <input type="submit" value="Delete" id="delete_button" class="btn">
            <label class="error" for="client_id_manual" id="name_error">You need to input an artist!</label><br>
          </div>

        </form>

      </div> <!--Recording Info  Row -->

      <div class="row">
        <div id="file-upload"  class="col-md-12">
          <form enctype="multipart/form-data" action="" method="post" id="file_form" role="form">
            <legend> Upload Files </legend>

            <div class="form-group">
              <label for='pending_files'>File Selection:</label>
              <input id="pending_files" type="file" name="pending_files[]" multiple>
            </div>

            <div id="pending_files">
              <label>Pending Files:</label>
                <table id="pending_file_table">
                </table>
            </div>

            <input type="submit" value="Upload File(s)" id="add_file_button" class="btn">
          </form>
        </div> <!-- Large Column Set -->
      </div> <!-- File Upload Row -->

    </div> <!-- Container -->

{% endblock %}

{% block javascript %}
<script type="text/javascript">

</script>

{% endblock %}
