<head>
  <title>Administration</title>
  <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
  <meta name="keywords" content="python web application" />
  <meta name="description" content="NQueue Management" />
  <link href="${request.static_url('live_rage:static/bootstrap.css')}" rel="stylesheet">
</head>
<body>
    <%include file="admin_header.jinja2"/>
    <%include file="jquery.html"/>
</body>

