{% extends "admin/admin_base.jinja2" %}
{% block title %} Add / Edit Shows{% endblock %}
{% block body %}
<div class="container">
    <div class="row">
        <h1>Concert Information</h1>

        <div class="col-md-6 ">
            <form id='concert_form' action="#">

            Concert ID
            {% if action == 'update' %}
            <label id="ID">{{ concert['_id'] }}</label>
            {% else %}
            <label id="ID">NA</label>
            {% endif %}

            <div class="form-group">
              <label for='concert_id'>Concert Identifier</label>
              <div class="input-group-sm">
                <input class="form-control" type="text" id="concert_id" placeholder="Concert ID" value="{{ concert.get('concert_id', '')}}">
              </div>
            </div>

            <div class="form-group">
              <label for='artist'>Artist</label>
              <div class="input-group-sm">
                <input class="form-control" type="text" id="artist" placeholder="Artist" value="{{concert.get('artist', '')}}">
              </div>
            </div>

            <div id="setlist_options"  class="form-group">
              <label for='setlist'>Setlist Options</label>
                <select class="form-control" id='setlist' multiple='multiple' name='setlist[]' size="10">
                </select>
            </div>  
            
              <label for='old_setlist'>Old Setlist</label>
              <textarea class="form-control" id='old_setlist' rows=10>{{ old_setlist }}</textarea>

            <div class="form-group">
              <label for='date'>Date</label>
              <div class="input-group-sm">
                <input class="form-control" type="text" id="date" placeholder="Date" 
                value="{{concert.get('date', '')}}">
              </div>  
            </div>  

            <div class="form-group">
              <label for='venue'>Venue</label>
              <div class="input-group-sm">
                <input class="form-control" type="text" id="venue" placeholder="Venue" 
                value="{{ concert.get('venue', '') }}">
              </div>  
            </div>  

            <div class="form-group">
              <label for='city'>City</label>
              <div class="input-group-sm">
                <input class="form-control" type="text" id="city" placeholder="City" value="{{ concert.get('city', '')}}">
              </div>  
            </div>  

            <div class="form-group">
              <label for='state'>State</label>
              <div class="input-group-sm">
                <input class="form-control" type="text" id="state" placeholder="State" 
                value="{{ concert.get('state', '')}}">
              </div>  
            </div>  

            <div class="form-group">
              <label for='country'>Country</label>
              <div class="input-group-sm">
                <input class="form-control" type="text" id="country" placeholder="Country" 
                value="{{ concert.get('county', '')}}">
              </div>  
            </div>  

            <div class="form-group">
              <label for='altname'>
                Alternative Name
              </label>
              <div class="input-group-sm">
                <input class="form-control" type="text" id="altname" placeholder="Alternative Name" 
                value="{{concert.get('altname', '')}}">
              </div>  
            </div>  

            <div class="form-group">
              <label for='notes'>Notes</label>
              <div class="input-group-sm">
                <textarea class="form-control" rows="5" id="notes" placeholder="Notes">{{ concert.get('notes', '')}}</textarea>
              </div>  
            </div>  

            <div class="checkbox">
            <label for='status'>Available for the Masses?</label>
            <input type="checkbox" id="status" checked="{{concert.get('available', '')}}"> 
            </div>  

          </div>  

          <div class="col-md-6" id='setlist-container'>
            <div class="form-group">
              <label for='setlist_table'>Setlist</label>
              <table id="setlist_table" class="table">
                <thead>
                  <tr>
                    <th class="position">#</th>
                    <th>ID</th>
                    <th>Name</th>
                  </tr>
                </thead>
                <tbody id="sortable">
                </tbody>
              </table>
            </div>
          </div>

        <div id="submit_div" class="col-md-12">
          <input type="submit" value="Submit" id="add_button" class="btn">
          <label class="error" for="client_id_manual" id="name_error">
            You need to input an artist!
          </label><br>
        </div>

      </form>
    </div>  
  </div>  

{% endblock %}
{% block javascript %}
<script type="text/javascript">
    $(document).ready(function(){
        live_recordings.fetchSetlists();
        live_recordings.EnableSetlistSortable();
        //live_recordings.prePopulateSetlist({{ concert.get('setlist_array', [])}});
    });
  
</script>

{% endblock %}
