{% extends "admin/admin_base.jinja2" %}
{% block title %} Add / Edit Shows{% endblock %}
{% block body %}
<div id="show-container" class="container">
    <div class="row">
        <div class="col-md-12">
        {% for artist, concert in concert_list.iteritems() %}
        <table class="table">
          <thead>
            <tr>{{ artist }}</tr>
            <tr>
              <th>Date</th>
              <th>Venue</th>
              {% if permission == 'edit' %}
              <th>Edit</th>
              {% elif permission =='view' %}
              <th>Filetypes</th>
              {% endif %}
            </tr>
          </thead>
          <tbody>
            {% for c in concert %}
              <tr>
                <td>{{c['date']}}</td>
                <td>{{c['venue']}}</td>
                <td><a href="{{request.route_url('admin_edit_existing_show', concert_id=c['concert_id'])}}">Edit</a></td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
        {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
