{% extends "admin/admin_base.jinja2" %}
{% block title %} Add / Edit Recordings{% endblock %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
        <table id="recording_table" class="table">
        <thead>
          <tr>
            <th>Description</th>
            <th>Primary Media Type</th>
            {% if permission == 'edit' %}
              <th>Edit</th>
            {% elif permission =='view' %}
              <th>Filetypes</th>
            {% endif %}
            <th>Deleted?</th>
          </tr>
        </thead>
        <tbody id="$recording_table_content">
          {% for recording in recording_list %}
            <tr>
              <td>{{recording['desc']}}</td>
              <td>{{recording['primary']}}</td>
              <td><a href="{{request.route_url('admin_edit_existing_recording', recording_id=recording['recording_url_id'])}}">Edit</a></td>
              <td>{{recording['deleted']}}</td>
            </tr>
          {% endfor %}
        </tbody>
        </table>
        </div>
    </div>
</div>
{% endblock %}
