#recording_header {
  size:20px;
}

.filter_options {
    display:None;
}

.start_filter {
    display:None;
}

body {
  padding-top:75px;
}

td.song_count {
  height:20px;
}
td.song_title{
  height:20px;
}
.table-file-hidden {
    display:None;
}

.tr-concert-hidden {
    display:None;
}

