{% extends "basic/base.jinja2" %}
{% block title %} {{ artist }} {% endblock %}
{% block body %}
<div id="artist_info-container" class="container">

    <div class="row">

        <div class="col-md-6" id="latest_concerts">
            <table class="table table-condensed">
                <thead>
                    <tr>
                        <td>Latest Concerts:</td>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                {% for concert in concerts %}
                    <tr>
                        <td>{{ concert['date'] }}</td>
                        <td><a href="{{request.route_url('concert_view', concert_id=concert['concert_id'])}}">{{concert['venue']}}</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
          <a href="{{ request.route_url('artist_concert_list', artist_id=artist_url)}}">All Concerts</a>
        </div>
          
        <div class="col-md-6" id="most-played-songs">
            <table class="table">
                <thead>
                    <tr>
                        <td>Top Songs:</td>
                        <td></td>
                      </tr>
                </thead>
                <tbody>
                {% for song in songs %}
                    <tr>
                        <td>
                            <a href="{{request.route_url('artist_song', artist_id=artist_url, song_title=song['song_id'])}}">{{ song['title'] }}</a> 
                        </td>
                        <td>
                            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{ song['song_count'] }}" aria-valuemin="0" aria-valuemax="{{ max_count }}" style="width: {{ (song['song_count']/max_count) * 100|float}}%">
                                <span class="sr-only">{{ song['song_count']}}</span>
                                {{ song['song_count'] }}
                            </div>
                        </td>
                    </tr>
                {%endfor %}
                </tbody>
            </table>

            <p>
                <a href="{{request.route_url('artist_song_list', artist_id=artist_url)}}">All Songs</a>
            </p>

        </div> 

    </div>
</div> 


{% endblock %}
