{% extends "basic/base.jinja2" %}
{% block title %} {{ concert['artist']}} - {{concert['date']}}{% endblock %}
{% block body %}
<div id="concert-container" class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>{{ concert.get('artist', '') }} </h1>
        </div>
    </div>

    <div class="row">

        <div class="col-md-6">
            <dl class="dl-horizontal">
                <dt>Date:</dt>
                <dd>{{ concert.get('date', '') }}</dd>
                <dt>Venue:</dt>
                <dd>{{ concert.get('venue', '') }}</dd>
                <dt>Location:</dt>
                <dd>
                {{ concert.get('city', '') }} {{concert.get('state', '')}}, 
                {{ concert.get('country', '')}}
                </dd>
                {% if concert['altname'] %}
                <dt>Alternative Name:</dt>
                <dd>{{concert['altname']}}</dd>
                {% endif  %}
                {% if concert['notes'] %}
                <dt>Notes:<dt>
                <dd>{{concert['notes']}}</dd>
                {% endif %}
              </dl>
        </div> 

        <div id="setlist-container" class="col-md-6">
            {% for song in concert['setlist_array'] %}
                {{ song['order'] }}. 
                <a href="{{request.route_url('artist_song', artist_id=artist_id, song_title=song['song_id'])}}">{{song['song_name']}}</a>
                </br>
            {%endfor %}
        </div>
    </div>

    <div class="row" id="recording-container">
        {% if recordings|length > 0 %}
            <div id="recording_header">
                <h3>Recordings:</h3>
            </div>

            {% for recording in recordings %}
            <div class="col-md-12">
                <dl class="dl-horizontal">
                {% if recording['taper']: %}
                    <dt>Taper:</dt>
                    <dd>{{recording['taper']}}</dd>
                {% endif %}

                {% if recording['source'] %}
                    <dt>Source:</dt>
                    <dd>{{recording['source']}}</dd>
                {% endif %}

                {% if recording['rtype'] %}
                    <dt>Recording Type:</dt>
                    <dd>{{recording['rtype']}}</dd>
                {% endif %}

                {% if recording['notes'] %}
                    <dt>Notes:</dt>
                    <dd>{{recording['notes']}}</dd>
                {% endif %}

                {% if recording['files']|length > 0 %}
                    <dt>Available Files:</dt>
                    <dd><span class="btn btn-primary associated_files">Show</span></dd>
                {% endif %}
                </dl>

                {% if recording['files']|length > 0 %}
                <div class="table-file-hidden">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Filename</th>
                                <th>Size</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for file in recording['files'] %}
                        <tr>
                            <td>
                                <a href="{{request.route_url('send_file', file_id= file['_id'])}}">{{file['filename']}}</a>
                            </td>
                            <td>{{file['size']}}</td>
                        </tr>  
                        {% endfor %}
                        </tbody>
                    </table>
                </div> 
                {% endif %}
                </div> 
            {% endfor %}
        {% endif %}
      </div>
</div>

{% endblock %}

{% block javascript %}
<script type="text/javascript">
    live_recordings.showNestedFiles();
</script>
{% endblock %}
