{% extends "basic/base.jinja2" %}
{% block title %} {{ recording.get('desc', 'Recording')}}{% endblock %}
{% block body %}
<div id="recording-container" class="container">
    <div class="row">
        <div class="col-md-12">
            </h3> Recording Information </h3>
            
            <div>
            <dl class="dl-horizontal">
                <dt>Description</dt>
                <dd>{{ recording.get('desc', '')}}</dd>

                {% if recording['taper'] %}
                <dt> Taper: </dt>
                <dd> {{recording['taper']}} </dd>
                {% endif %}

                {% if recording['source'] %}
                <dt> Source: </dt>
                <dd> {{recording['source']}} </dd>
                {% endif %}
                <dt>Recording Type</dt>
                <dd>{{ recording.get('rtype', '')}}</dd>

                {% if recording['notes'] %}
                <dt> Notes: </dt>
                <dd> {{recording['notes']}} </dd>
                {% endif  %}
            </dl>
            </div>  

            <div>
            <label for='concert_table'>Associated Concerts:</label>
            <table id="concert_table" class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>Artist</th>
                        <th>Date</th>
                    </tr>
                </thead>
                <tbody id="concert_table_values">
                {% for artist, concerts in c_list.iteritems() %}
                    {% for concert in concerts %}
                        <tr class="concert" onclick='window.location.href="{{request.route_url("concert_view", concert_id=concert["concert_id"])}}"'>

                            <td><a href='{{request.route_url("concert_view", concert_id=concert["concert_id"])}}'>{{concert['artist']}}</a></td> 
                            <td>{{concert['date']}}</td>
                        </tr>
                    {% endfor %}
                {% endfor %}
                </tbody>
            </table>
            </div>
        
            {% if recording['files']|length > 0 %}
            <div>
            <label for='file_table'>Available Files:</label>
            <table id="file" class="table">
                <thead>
                    <tr>
                        <th>Filename</th>
                        <th>Size</th>
                    </tr>
                </thead>
                <tbody id="file_table_values">
                {% for file in recording['files'] %}
                    <tr>
                        <td><a href="{{ request.route_url('send_file', file_id= file['_id']) }}">{{ file['filename'] }}</a></td>
                        <td>{{ file['size'] }}</td>
                    </tr>  
                {% endfor%}
                </tbody>
            </table>
            </div>
            {% endif %}

{% endblock %}
