<!DOCTYPE html>
<html lang="en">
  <head>
  <title>About</title>
  <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
  <meta name="description" content="Management" />
  <link href="${request.static_url('live_rage:static/bootstrap.css')}" rel="stylesheet">
  <link href="${request.static_url('live_rage:static/concert_recording.css')}" media="screen" rel="stylesheet" type="text/css">
  </head>
  <body>
    <%include file="user_header.jinja2"/>
    <div id="about-container" class="container">
      <div="row">
        Invalid Page Requested!
      </div>
    </div>
    <%include file="jquery.html"/>
  </body>
</html>
