{% extends "basic/base.jinja2" %}
{% block title %} Login {% endblock %}
{% block body %}
<div id="login_form" class="container">
    <div class="row">
        <div class="col-md-12">
        <form id="login_form" action="{{ request.path }}" method="post" role="form" class-"form-horizontal well">
            <legend>Log In</legend>
            <fieldset>
            <input name="_csrf" type="hidden" value="{{request.session.get_csrf_token()}}">
            <input type="hidden" name="next" value="{{ next }}"/>

            <div class="form-group"> 
                <input type="text" name="login" placeholder="Username"/>
            </div>

            <div class="form-group"> 
                <input type="password" name="password" placeholder="Password"/>
            </div>

            <input type="submit" class="btn-primary" name="form.submit" value="Login"/>
            </fieldset>
        </form>
        {{ message }}
        
        </div>
    </div>
</div>
{% endblock %}
